<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Detalles de la Licitación</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Detalles de la Licitación</h1>
        <p><strong>Título:</strong> {{ licitacion.titulo }}</p>
        <p><strong>Descripción:</strong> {{ licitacion.descripcion }}</p>
        <p><strong>Estado:</strong> {{ licitacion.estado }}</p>
        <p><strong>Fecha de Publicación:</strong> {{ licitacion.fecha_publicacion }}</p>
        <p><strong>Fecha de Cierre:</strong> {{ licitacion.fecha_cierre }}</p>

        {% if licitacion.estado == 'Abierta' %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="cerrar_licitacion" class="dashboard-link" value="Cerrar">Cerrar Licitación</button>
            </form>
        {% endif %}

        <a href="{% url 'dashboard' %}" class="dashboard-link">Regresar al Dashboard</a>
    </div>
</body>
</html>