<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Detalles de la Licitación</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Detalles de la Licitación</h1>
        <p><strong>Título:</strong> {{ licitacion.titulo }}</p>
        <p><strong>Descripción:</strong> {{ licitacion.descripcion }}</p>
        <p><strong>Estado:</strong> {{ licitacion.estado }}</p>
        <p><strong>Fecha de Publicación:</strong> {{ licitacion.fecha_publicacion }}</p>
        <p><strong>Fecha de Cierre:</strong> {{ licitacion.fecha_cierre }}</p>

        <h2>Equipos</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Componentes</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in licitacion.detalles.all %}
                    <tr>
                        <td>{{ detalle.nombre }}</td>
                        <td>{{ detalle.cantidad }}</td>
                        <td>
                            <ul>
                                {% for componente in detalle.componentes.all %}
                                    <li>{{ componente.especificacion }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'dashboard' %}" class="dashboard-link">Regresar</a>
    </div>
</body>
</html>